# Intermediates
*.o

# Outputs
*.a
*.so
objects/bone
objects/borromean
objects/circle
objects/circle4
objects/crouzy
objects/ellipse
objects/helix
objects/hopf
objects/inf
objects/knottable
objects/line
objects/random
objects/sinus
objects/solenoid
objects/spiral
objects/stadium
objects/torusknot
objects/torusknot4
objects/trefoil
tools/align
tools/angle_condition
tools/angle_principal_normal_contacts
tools/angle_vs_arclength
tools/animate
tools/arcdist
tools/arcs2polygonal
tools/biarccli
tools/billiard_anim
tools/billiard_poly
tools/centerandnormalise
tools/circle_for_f31
tools/clif_tref_contactset
tools/closest_neighbour
tools/contacts2inventor
tools/contacts2sigma
tools/contacts_s3tor3
tools/contactset
tools/convolutionfilter
tools/cross_pp
tools/curvature
tools/curvature4
tools/curvesplit
tools/extract_sigma
tools/extract_sigma_max
tools/extract_sigma_valley_max
tools/filter_nodes
tools/flatten
tools/follow_contact
tools/inertiatensor
tools/info
tools/info4
tools/inversion_in_sphere
tools/length
tools/link_thickness
tools/map
tools/mesh4stokes
tools/perturb
tools/pkf2java
tools/pkf2mesh
tools/pkf2obj
tools/pkf2ply
tools/pkf2stl
tools/pkf2stl2
tools/pkf2vect
tools/pkf2xyz
tools/pkfframe
tools/plotslice
tools/plotslice4
tools/pointat
tools/process
tools/projected_dij
tools/ptcircles
tools/r3tos3
tools/redo_tangents
tools/refine
tools/reorder
tools/resample
tools/resample4
tools/reverse_direction
tools/rotate_curve
tools/s3tor3
tools/s_sigma_angles
tools/setcenter
tools/shuffle
tools/sigma2contact
tools/sigma2inventor
tools/sigma_and_tau_contacts
tools/sigma_composition
tools/supercoil
tools/tangent_indicatrix
tools/test
tools/torsion
tools/vect2pkf
tools/xyz2pkf

*~
